*{margin: 0;padding: 0;}

.menu-principal {background: #149595;height: 20%;width: 100%;}

#imagem-banner {height: 20%;width: 100%;filter: blur(1px);}

#texto1 h1{color: #149595; width: 50%;position: relative;font-size: 9em;
margin: 0 auto;bottom: 430px;text-shadow: black 5px 2px 5px;
font-family: initial}

#texto1 p {color: white;font-size: 2.7em;width: 30%;position: relative;
left: 25%;bottom: 449px;font-family: initial;}

#projeto {color: rgb(20, 149, 149);width: 13.3%;position: relative;
bottom: 215px;font-size: 2.3em;font-family: initial;}

#projeto-under {position: relative;bottom: 230px;
left: 39%;width: 22%;}

#conteudo1 {height: 360px;background: #149595;position: relative;bottom: 212px;}

#conteudo1 img {position: relative;left: 102.3%;bottom: 4.9%;}

#conteudo2 {height: 360px;background: rgb(20, 149, 149);position: relative;bottom: 209px;}
    
#conteudo2 img { position: relative;height: 360px;left: 102.3%;bottom: 4.9%;}

#conteudo3 {height: 360px;background: rgb(20, 149, 149);position: relative;
bottom: 206px;}
        
#conteudo3 img {position: relative;height: 360px;left: 102.3%;bottom: 4.9%;}

#sob-medida {color: white;position: relative;left: 2%;
font-size: 2.8em;width: 30%;bottom: 1244px;
font-family: Georgia, 'Times New Roman', Times, serif;}

#conteudo-medida {color: white;position: relative;
left: 2%;font-size: 1.4em;width: 46%;bottom: 1236px;}

#planta {color: white;position: relative;bottom: 1190px;
left: 4%;font-size: 2.8em;width: 30%;height: 55px;
font-family: Georgia, "Times New Roman", Times, serif;}

#conteudo-planta {width: 84%;font-size: 1.4em;position: relative;
bottom: 1183px;color: white;left: 4%;}

#lorem {color: white;position: relative;bottom: 1130px;
left: 4%;font-size: 2.8em;width: 40%;
font-family: Georgia, "Times New Roman", Times, serif;}
        
#lorem-conteudo {width: 84%;font-size: 1.4em;position: relative;
bottom: 1120px;left: 4%;color: white;}

#transicao {width: 50%;position: relative;bottom: 1027px;margin-left: 26%;}

#sobre-title {color: #149595;position: relative;width: 16.3%;
bottom: 1039px;font-size: 3em;font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
text-decoration: underline;margin-left: 12%;}

#img-sobre {position: relative;bottom: 1008px;}

#icon-home {position: relative;bottom: 975px;margin-left: 5%;}

#sobre-text {position: relative;bottom: 1011px;color: rgb(20, 149, 149);
font-size: 1.4em;width: 87%;margin-left: 5%;}

#trabalho-title {color: rgb(20, 149, 149);margin-left: 54%;width: 18%;
font-size: 3em;position: relative;bottom: 1446px;text-decoration: underline;
font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;}

#img-trabalho {position: relative;bottom: 969px;}

#icon-medal {position: relative;bottom: 1383px;margin-left: 47%;width: 5%;}

#trabalho-text {position: relative;bottom: 1420px;font-size: 1.4em;color: rgb(20, 149, 149);
width: 49%;margin-left: 47%;}

#equipe {width: 10%;position: relative;bottom: 1358px;
font-size: 2.5em;font-family: initial;color: rgb(20, 149, 149);}

#equipe-under {position: relative;bottom: 1378px;width: 22%;left: 39%;}

#container-equipe {background: #149595;height: 404px;position: relative;bottom: 1347px;}

#imagem-equipe {position: relative;margin-left: 2%;top: 15%;width: 44%;}

#equipe-text {color: white;font-size: 1.4em;width: 48%;
margin: 0px auto;position: relative;bottom: 47%;margin-left: 50%;}

#contato {color: #149595;width: 12.6%;font-size: 2.5em;height: 47px;font-family: initial;}

#contato-under {position: relative;width: 22%;}

#instagram {background: #149595;width: 7%;height: 118px;border-radius: 35%;}

#insta-imagem {}

#email {background: #149595;width: 7%;height: 118px;
border-radius: 35%;}

#email-imagem {}

#whatsapp {background: rgb(20, 149, 149);width: 7%;height: 118px;border-radius: 35%;}

#whats-imagem {}

#linha1 {background: #149595;width: 17.5%;
height: 6px;}

#linha2 {background: rgb(20, 149, 149);width: 17.5%;
height: 7px;}

footer {background: #149595;height: 42px;position: relative;margin-top: -63%;}

#baixo-map {background: #149595;position: relative;height: 42px;top: 87%;}

#map {position: relative;top: 42px;height: 128px;}




