header.topo-page {
    background-color: #149595;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.menu a {
    color: #fff;
    text-decoration: none;
}


.menu {
    padding-right: 2%;
    padding-top: 0.8%;
}


.logo-topo img {
    padding: 20%;
}

.banner {
    background-image: url(http://127.0.0.1:5500/img/fundo%20primeira%20tela.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    max-height: 80%;
    text-align: center;
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}


h1.titulo-banner {
    color: #149595;
    text-align: center;
    font-size: min(170px, 10vw);
    font-weight: bold;
    font-family: Judson;
    text-shadow: black 3px 1px 0px;
    font-variant: all-petite-caps;
    letter-spacing: 20px;
    margin-bottom: -270px;
}

span.subtitle-banner {
    color: #fff;
    text-align: center;
    font-size: min(45px, 5vw);
    text-shadow: black 3px 1px 0px;
}

.div-title-projetos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    color: #149595;
    font-size: 50px;
}

h2.title-projetos {
    font-size: 45px;
    margin-bottom: -1%;
    padding-top: 1%;
}

.na-planta,
.sob-medida,
.lorem {
    display: flex;
    background-color: #149595;
    margin-bottom: 1%;
}

.na-pnata-txt,
.sob-medida-txt,
.lorem-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 5%;
}

#planta-title,
#sob-medida-title,
#lorem-title {
    padding-bottom: 3%;
    font-size: 50px;
}

img#projeto-under {
    margin-bottom: 2%;
}

.divisoria {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1%;
    margin-bottom: 1%;
}


.sobre-nos,
.trabalhos {
    display: flex;
}

.sobre-nos-txt,
.trabalhos-txt {
    display: flex;
    flex-direction: column;
    color: #149595;
    font-size: 50px;
}

.sobre-nos-title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 8%;
}

.trabalhos-title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 8%;
}

#sobre-title,
#trabalhos-title {
    padding-top: 3%;
    padding-left: 5%;
}

#sobre-text,
#trabalhos-text {
    color: #149595;
    font-size: 25px;
    padding-left: 5%;
    padding-top: 2%;
}

.trabalhos-title {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0%;
}

#icon-trabalho {
    padding-right: 5%;
}

.equipe {
    display: flex;
    background: #149595;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 25px;
    color: #fff;
}

p#equipe-text {
    padding-left: 3%;
    padding-right: 5%;
}

#imagem-equipe{
    padding-left: 1%;
}

.text-div-equipe, .text-div-contato{
    padding-top: 2%;;
    color: #149595;
}

.equipe-div, .contato-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.contato-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

#instagram, #email, #whatsapp{
    background: #149595;  
}

.contato-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

div#instagram, div#email {
    padding: 1%;
    border-radius: 50px;
}

div#whatsapp {
    border-radius: 50px;
}

.div-map{
    background: #149595;  
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 3%;
}

@media (max-width: 1280px) {

    .logo-topo img {padding: 14%;}

    header.topo-page {background-color: #149595;display: flex;
    justify-content: space-between;flex-direction: row;align-items: baseline;}

    h1.titulo-banner {color: #149595;text-align: center;font-size: 5em;font-weight: bold;
    font-family: Judson;text-shadow: black 3px 1px 0px;margin-bottom: -181px;}

    span.subtitle-banner {color: #fff;font-size: 2.2em;text-shadow: black 3px 1px 0px;}

    .banner {
        background-image: url(http://127.0.0.1:5500/img/fundo%20primeira%20tela.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 440px;
        max-height: 80%;
        text-align: center;
        align-content: space-around;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;  }

        h2.title-projetos {font-size: 0.8em;margin-bottom: -2%;padding-top: 1%;}

        img#projeto-under {margin-bottom: 1%;}

        .sob-medida {display: flex;background-color: #149595;margin-bottom: 1%;
        align-items: flex-start;flex-wrap: nowrap;flex-direction: row;}

        .sob-medida-txt {display: flex;color: #fff;padding: 5%;
        flex-direction: column;align-items: flex-start;}

        .sobmedida-img {width: 427px;}

        .sob-medida-img {display: flex;flex-direction: column;width: 69%;}

        #sob-medida-title {font-size: 1.3em;}

        #conteudo-sob-medida{font-size: 1em;}

        #planta-title{font-size: 1.3em;}

        #conteudo-planta{font-size: 1em;}

        .planta-img{width: 427px;}

        .na-pnata-txt{display: flex;color: #fff;padding: 1%;flex-direction: column;align-items: flex-start;}

        #lorem-title{font-size: 1.3em;}

        #conteudo-lorem{font-size: 1em;}

        .lorem-img{width: 427px;}

        .lorem-txt{display: flex;color: #fff;padding: 1%;flex-direction: column;align-items: flex-start;}

        #transicao {width: 72%;margin-top: 2%;}

        .sob-medida-txt {display: flex;color: #fff;padding: 1%;
        flex-direction: column;align-items: flex-start;}

        #sobre-title {padding-left: 4%;font-size: 0.6em;padding-top: 5%;}

        #sobre-text {color: #149595;font-size: 0.4em;padding-left: 4%;padding-top: 2%;}

        .sobre-nos {display: flex;flex-direction: column-reverse;align-items: center;}

        .trabalhos{display: flex;flex-direction: column;align-items: center;}

        #img-trabalhos{margin-top: 3%;}

        #icon-trabalho {padding-right: 13%;}

        #trabalhos-title {padding-top: 4%;padding-left: 18%;font-size: 0.6em;}

        #trabalhos-text{color: #149595;font-size: 0.4em;
        padding-left: 4%;padding-top: 2%;}

        .equipe-div {display: flex;margin-bottom: 1%;align-items: center;flex-direction: column;}

        .text-div-equipe {padding-top: 3%;color: #149595;}

        .equipe {display: flex;background: #149595;padding-top: 5%;
        padding-bottom: 5%;font-size: 1.5em;color: #fff;
        flex-direction: column;flex-wrap: nowrap;}

        p#equipe-text {padding-left: 5%;padding-right: 3%;padding-top: 2%;}

        #imagem-equipe {padding-left: 0%;}

        .contato-div {display: flex;align-items: center;margin-bottom: 1%;flex-direction: column;}   
        
        .text-div-contato {padding-top: 3%;color: #149595;}

        .div-map {background: #149595;padding-top: 5%;padding-bottom: 5%;
        margin-top: 3%;display: flex;
        flex-direction: column;}

}

@media (max-width: 803px) {

    header.topo-page {background-color: #149595;display: flex;flex-direction: row;
    justify-content: space-between;}

    .logo-topo img {width: 95%;}

    .menu a{font-size: 0.7em;}

    .banner {height: 345px;display: flex;flex-direction: column;align-items: center;}

    h1.titulo-banner {font-size: 3em;margin-bottom: -135px;}

    span.subtitle-banner {font-size: 1em;}

    .div-title-projetos{display: flex;flex-direction: column;align-items: center;}

    h2.title-projetos {font-size: 0.3em;margin-bottom: -2%;padding-top: 3%;}

    img#projeto-under {width: 35%;margin-top: 1%;}

    .sob-medida {display: flex;background-color: #149595;margin-bottom: 1%;
    flex-direction: column-reverse;align-items: stretch;}

    .sob-medida-txt {display: flex;color: #fff;
    padding: 3%;flex-direction: column;align-items: flex-start;}

    #sob-medida-title {font-size: 1em;}
    
    #conteudo-sob-medida {font-size: 0.6em;}

    .sobmedida-img {width: 145%;height: 173px;}

    .na-planta{display: flex;background-color: #149595;margin-bottom: 1%;
    flex-direction: column-reverse;align-items: stretch;margin-top: 2%;}

    .planta-img{width: 100%;height: 173px;}

    #planta-title {font-size: 1em;}

    #conteudo-planta {font-size: 0.6em;}

    .na-pnata-txt {display: flex;color: #fff;padding: 3%;flex-direction: column;
     align-items: flex-start;}

     .lorem{display: flex;background-color: #149595;margin-bottom: 1%;
    flex-direction: column-reverse;align-items: stretch;margin-top: 2%;}

    .lorem-img {width: 100%;height: 173px;}

    .lorem-txt {display: flex;color: #fff;padding: 3%;
    flex-direction: column;align-items: flex-start;}

    #lorem-title {font-size: 1em;}

    #conteudo-lorem {font-size: 0.6em;}

    #transicao {width: 60%;margin-top: 4%;}

    .divisoria {display: flex;justify-content: center;}

    #img-sobre{width: 80%;}

    .img-casa-sobre-nos{display: flex;flex-direction: column;align-items: center;}

    #sobre-title {padding-left: 4%;font-size: 0.3em;}
    
    #icon-home{width: 12%;}

    #sobre-text {color: #149595;font-size: 0.2em;padding-right: 5%;padding-left: 7%;}

    #img-trabalhos{width: 80%;}

    .img-trabalhos{display: flex;flex-direction: column;align-items: center;}

    #trabalhos-title {padding-left: 7%;font-size: 0.3em;padding-top: 5%;}

    #icon-trabalho{width: 23%;}

    #trabalhos-text{color: #149595;font-size: 0.2em;padding-right: 5%;padding-left: 7%;}

    .text-div-equipe {font-size: 0.8em;margin-bottom: -2%;padding-top: 3%;}

    #equipe-under {width: 35%;margin-top: 1%;}

    .equipe-div {display: flex;margin-bottom: 2%;flex-direction: column;align-items: center;}

    #imagem-equipe {width: 70%;}

    p#equipe-text {padding-left: 7%;padding-right: 7%;padding-top: 4%;font-size: 0.3em;}

    .equipe {display: flex;background: #149595;padding-top: 5%;padding-bottom: 5%;
    font-size: 1.5em;color: #fff;flex-direction: column;align-items: center;}

    .text-div-contato {font-size: 0.8em;margin-bottom: -2%;padding-top: 3%;}

    #contato-under{width: 35%;margin-top: 1%;}

    #insta-imagem {width: 100%;padding-bottom: 11%;}

    #instagram {width: 7%;}
    
    #email-imagem {width: 100%;padding-bottom: 13%;}

    #email {width: 7%;}

    #whats-imagem {width: 100%;}

    #whatsapp {width: 7%;}

    .contato-icons {display: flex;flex-direction: row;
    justify-content: space-around;margin-top: 2%;flex-wrap: nowrap;}

    #map {height: 50px;}

    .menu {display: none;}
}